# Fichiers d'extensions
*.bat
*.exe

# Fichiers pour l'aide compilée
*.chm

# Fichiers/dossiers Visual Studio
*.user
.vs

# Fichiers/dossiers VS Code
.vscode
*.code-workspace

# Dossiers dotnet
[Bb]in
[Oo]bj
